.editor-wrapper .toastui-editor-defaultUI {
  background-color: white;
}

.editor-wrapper .toastui-editor-md-container {
  background-color: white;
}

.editor-wrapper .toastui-editor-ww-container {
  background-color: white;
}
